#nav{
    width: 300px;
    background: rgb(165, 165, 162);
}
/* 
    设置图片：
    background-image: url("../images/arrow-right.png"); 背景图片的url路径
    background-size:auto 18px;  背景图片的大小限制
    background-repeat: no-repeat;  无平铺
    background-position: 246px 11px; 背景图片的坐标
 */
.title{
    font-size: 18px;
    font-weight: bold;
    text-indent: 1em;
    line-height: 38px;
    /* 背景统一设置：背景颜色，图片url，图片坐标，无平铺 */
    background: greenyellow url("../images/arrow-right.png") 246px 11px no-repeat;
    /* 背景图片的大小设置 */
    background-size:auto 18px;
    /* background-image: ;
    
    background-repeat: ;
    background-position: ; */
}
/*  list-style: 列表的圆点或者数字样式
    circle:空心圆
    decimal:数字
*/
/* ul{
    background: rgb(165, 165, 162);
} */
ul li{
    height: 30px;
    list-style:none;
    text-indent: 1em;
    background-image: url("../images/arrow-down.png");
    background-size:auto 18px;
    background-repeat: no-repeat;
    background-position: 204px 3px;
}
a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}
a:hover{
    color: red;
    text-decoration: underline;
}