div{
    margin: 10px;
    padding: 5px;
}
#father{
    border: 2px solid red;
    /* overflow: hidden; */
}
#father:after{
    content: '';
    display: block;
    clear: both;
}
.layer01{
    border: 2px solid #adff2f;
    /* display: inline-block; */
    float: left;
}
.layer02{
    border: 2px solid orange;
    /* display: inline-block; */
    float: left;
}
.layer03{
    border: 2px solid blueviolet;
    /* display: inline-block; */
    float: right;
}
.layer04{
    border: 2px dashed blue;
    font-size: 12px;
    line-height: 23px;
    /* display: inline-block; */
    float: right;
    /* 两侧都不允许有浮动 */
}
/* .clear{
    clear: both;
    margin: 0;
    padding: 0;
} */